header{
    width: 100%;
    font-size: 3rem;
}

.forecast {
    max-width: 100%;
    width: 100%;
}

.five-day {
    padding: 0 15px 0 15px;
    background-color: #343a40;
    color: white;
    margin-right: 5px;
}
